/*Fieldset for text before the start of our journey*/
fieldset.CuteSet {
    margin-top: 3%;
    margin-bottom: 4%;
    width: fit-content;
    border: none;
    padding: 40px 20px;
    box-shadow: 0px 0px 20px white, 0px 0px 40px #ffc1c17a, 0px 0px 60px #ffc1c1;
}



.CuteSet legend {
    font-size: 30px;
    color: #a64ac9;
    text-shadow: 2px 2px 2px #ffc1c1;
    margin-bottom: 20px;
}



/*------------------------Image gradients------------------------*/
.storyImage {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 2px;
    position: relative;
    z-index: 1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, pink 46%, white 100%);
    filter: brightness(120%);
}

.storyImage:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(rgba(255, 0, 0, 0.397) 0%, pink 46%, white 100%);
    filter: blur(20px);
}

.gradient {
    background-color: #0b090a;
    padding: 30px;
    color: white;
}

/*Makes the image not have the black bars around it*/
.fit {
    padding: 0%;
}

.centered {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/*Hides the element*/
.hidden {
    display: none;
}

/*------------------------NextButton------------------------*/
.two-buttons {
    display: flex;
    width: 100%;

    margin-bottom: 4%;
    justify-content: center;
}

/*------------------------Swiping Animation------------------------*/

@keyframes swipeLeft {
    from {
        transform: translateX(500%);
    }

    to {
        transform: translateX(0%);
    }
}

.swipeL {
    animation: swipeLeft 0.3s ease-in-out;
}

@keyframes swipeRight {
    from {
        transform: translateX(-500%);
    }

    to {
        transform: translateX(0%);
    }
}

.swipeR {
    animation: swipeRight 0.3s ease-in-out;
}